<table>
    <thead>
        <tr>
            <th></th>
            <th>USD</th>
            <th>EUR</th>
            <th>RUB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Buy</th>
            <td>{{ usd_buy }}</td>
            <td>{{ eur_buy }}</td>
            <td>{{ rub_buy }}</td>
        </tr>
        <tr>
            <th>Sell</th>
            <td>{{ usd_sell }}</td>
            <td>{{ eur_sell }}</td>
            <td>{{ rub_sell }}</td>
        </tr>
    </tbody>
</table>