<div class="card flex-row mt-2 ps-2 pe-2 shadow-sm table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">RUB</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Buy</th>
                <td>25.99</td>
                <td>32.15</td>
                <td>4.42</td>
            </tr>
            <tr>
                <th scope="row">Sell</th>
                <td>26.12</td>
                <td>33.14</td>
                <td>5.26</td>
            </tr>
        </tbody>
    </table>
</div>