{% extends 'articles/base.html' %}
{% load static %}
{% load articles_extras %}

{% block title %}
    Articles
{% endblock %}

{% block content %}
    {% for article in articles %}
        <div class="card flex-row mt-2 shadow-sm">
            <img class="card-img-left flex-auto d-none d-lg-block cover" src="{{ article.cover.url }}">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="title" href="{% url 'get_article' article_id=article.article_id %}">
                        {{ article.title }}
                    </a>
                </h3>
                <div class="mb-1 text-muted">
                    {% with article.comments.count as total_comments %}
                        {% if article.article_id in edited %}
                            &#9999; EDITED
                        {% else %}
                            by {{ article.author.get_full_name }}
                        {% endif %}
                        | {{ article.text|get_reading_time:"sec"}} | {{ article.published|date:"d.m.y" }} | {{ total_comments }} comment{{ total_comments|pluralize }}
                    {% endwith %}
                </div>
                <div class="card-text">
                    {{ article.text|slice:":120" }}<br>
                    <div class="collapse" id="article-{{ article.article_id }}">
                        {{ article.text|slice:"120:480" }}
                    </div>
                    <a data-bs-toggle="collapse" href="#article-{{ article.article_id }}" aria-controls="article-{{ article.article_id }}">
                        Read More
                    </a>
                    <div style="text-align: right;">
                        {% for tag in article.tags.all %}
                            <a class="tag" href="{% url 'get_articles_by_tag' tag.slug %}">
                                {% if tag.name|lower in request.path|slice:"10:" %}
                                    <span class="badge tag-active">{{ tag.name }}</span>
                                {% else %}
                                    <span class="badge tag">{{ tag.name }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
    {% if articles.paginator.num_pages != 1 %}
        {% include "articles/pagination.html" with page=articles %}
    {% endif %}
{% endblock %}
