<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
    {% for article in articles %}
        <div>
            <h1>
                <a href="/articles/{{ article.article_id }}/"> {{ article.title }}</a>
            </h1>
            {% with article.comments.count as total_comments %}
                <i>
                    Published: {{ article.published }}. Written by: {{ article.author }}. <br>
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                </i>
            {% endwith %}

        </div>
    {% endfor %}
</body>
</html>