{% extends 'articles/base.html' %}
{% load static %}
{% load articles_extras %}


{% block title %}
    Articles
{% endblock %}

{% block content %}
    {% for article in articles %}
        <div class="card flex-row mt-2 shadow-sm">
            <img class="card-img-left flex-auto d-none d-lg-block cover" src="{{ article.cover.url }}">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="{% url 'get_article' article_id=article.article_id %}">
                        {{ article.title }}
                    </a>
                </h3>
                <div class="mb-1 text-muted">by {{ article.author.get_full_name }}, {{ article.published|date:"d.m.y" }} ({{ article.text|get_reading_time:"sec"}})</div>
                <div class="card-text">
                    {{ article.text|slice:":120" }}<br>
                    <div class="collapse" id="article-{{ article.article_id }}">
                        {{ article.text|slice:"120:480" }}
                    </div>
                    <a data-bs-toggle="collapse" href="#article-{{ article.article_id }}" aria-controls="article-{{ article.article_id }}">
                        Read More
                    </a>
                    {% with article.comments.count as total_comments %}
                        <p class="text-muted">{{ total_comments }} comment{{ total_comments|pluralize }}</p>
                    {% endwith %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
