<!-- {% now "jS F Y H:i" %} -->
<div class="row justify-content-end">
    <div class="col-8">
        <div class="card mt-2 pt-2 pb-2 text-center">
            <a href="{% url 'get_articles' %}">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.9317 1L0.000244141 12.9314H4V22.0743H9V16H15V22.0743H20V12.9314H24L11.9317 1Z" fill="#004282"></path>
                    <rect opacity="0.5" x="9" y="16" width="6" height="4" fill="#004282"></rect>
                </svg>
            </a>
        </div>
        <div class="card mt-2 pt-2 pb-2 text-center btn-group dropend" style="display: block;">
            <svg class="dropdown-toggle" data-bs-toggle="dropdown" width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 442.688 442.688" style="fill: #014282;" xml:space="preserve">
                <path d="M442.666,178.822l-4.004-145.078c-0.447-16.222-13.504-29.279-29.727-29.728l-145.08-4.004
                    c-8.475-0.237-16.493,2.97-22.468,8.945L8.954,241.391c-11.924,11.924-11.924,31.325,0,43.249l149.083,149.082
                    c11.951,11.953,31.296,11.956,43.25,0.001L433.721,201.29C439.636,195.374,442.897,187.184,442.666,178.822z M376.238,139.979
                    c-20.323,20.322-53.215,20.324-73.539,0c-20.275-20.275-20.275-53.265,0-73.539c20.323-20.323,53.215-20.324,73.539,0
                    C396.512,86.714,396.512,119.704,376.238,139.979z"/>
            </svg>
            <ul class="dropdown-menu">
                {% for tag in tags %}
                    <li>
                        <a class="tag" href="{% url 'get_articles_by_tag' tag.slug %}">
                            <button class="dropdown-item" type="button">
                                {% if tag.name|lower in request.path|slice:"10:" %}
                                    <span class="badge tag-active">{{ tag.name }}</span>
                                {% else %}
                                    <span class="badge tag">{{ tag.name }}</span>
                                {% endif %}
                            </button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card mt-2 pt-2 pb-2 text-center">
            <a href="{% url 'create_article' %}">
                <svg width="24" height="24" style="fill: #014282;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 426.667 426.667" enable-background="new 0 0 426.667 426.667;" xml:space="preserve">
                    <path d="M256,0H85.333C61.76,0,42.88,19.093,42.88,42.667L42.667,384c0,23.573,18.88,42.667,42.453,42.667h256.213 C364.907,426.667,384,407.573,384,384V128L256,0z M298.667,298.667h-64v64H192v-64h-64V256h64v-64h42.667v64h64V298.667z M234.667,149.333V32L352,149.333H234.667z"/>
                </svg>
            </a>
        </div>

    </div>
</div>
