{% extends 'articles/base.html' %}

{% block menu %}
    <div class="row justify-content-end">
        <div class="col-8">
            <div class="card mt-3 pt-2 pb-2 text-center">
                <a href="{% url 'get_articles' %}">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9317 1L0.000244141 12.9314H4V22.0743H9V16H15V22.0743H20V12.9314H24L11.9317 1Z" fill="#004282"></path>
                        <rect opacity="0.5" x="9" y="16" width="6" height="4" fill="#004282"></rect>
                    </svg>
                </a>
            </div>
        </div>
    </div>
{% endblock %}


